APP_NAME=Log Analytics API
APP_ENV=development
APP_DEBUG=true
API_V1_STR=/api/v1

MYSQL_USER=root
MYSQL_PASSWORD=yourpassword
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=log_analytics

SECRET_KEY=change-this-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256